section.about {
  grid-column: 2/-2;
  margin: 0 0 4rem 0;
  p {
    margin-bottom: 1rem;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: bold;
  }
  ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  ul li {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}

ul.skills {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  margin-top: 1rem;
  padding-left: 0;
  li {
    margin: 0.5rem;
  }
}

span.tag {
  background: $gray;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.portrait {
  grid-column: 2/-2;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.portrait__container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right top,
    #18f0ae,
    #00c7c7,
    #009bcc,
    #006cb5,
    #263d83
  );
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
  }
}
